USE [master]
GO
/****** Object:  Database [POEDatabase]    Script Date: 4/5/2025 4:15:30 PM ******/
CREATE DATABASE [POEDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POEDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\POEDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POEDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\POEDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POEDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POEDatabase]
GO
/****** Object:  Table [dbo].[Bookings1]    Script Date: 4/5/2025 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings1](
	[Booking_Id] [int] NOT NULL,
	[Event_Id] [int] NULL,
	[Venue_Id] [int] NULL,
	[Booking_Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Booking_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event1]    Script Date: 4/5/2025 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event1](
	[Event_ID] [int] NOT NULL,
	[Event_Name] [varchar](250) NOT NULL,
	[Event_Date] [date] NOT NULL,
	[Description1] [varchar](250) NOT NULL,
	[Venue_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venue1]    Script Date: 4/5/2025 4:15:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venue1](
	[Venue_Id] [int] NOT NULL,
	[Venue_Name] [varchar](250) NOT NULL,
	[Location1] [varchar](250) NOT NULL,
	[Capacity] [int] NOT NULL,
	[ImageURL] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Venue_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings1]  WITH CHECK ADD FOREIGN KEY([Event_Id])
REFERENCES [dbo].[Event1] ([Event_ID])
GO
ALTER TABLE [dbo].[Bookings1]  WITH CHECK ADD FOREIGN KEY([Venue_Id])
REFERENCES [dbo].[Venue1] ([Venue_Id])
GO
ALTER TABLE [dbo].[Event1]  WITH CHECK ADD FOREIGN KEY([Venue_Id])
REFERENCES [dbo].[Event1] ([Event_ID])
GO
USE [master]
GO
